.modal {
  display: none;
  overflow: auto;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);

  &__content-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 92%;
    max-width: 45rem;
    height: 42rem;
    background-color: $color-white;
    border-radius: 1.5rem;
    padding: 7rem 2rem;
    transform: translate(-50%, -50%);
    animation: fadeIn .4s;

    @media (max-height: 440px) {
      top: 55%;
    }

    @media (max-height: 400px) {
      top: 60%;
    }

    @media (max-height: 350px) {
      top: 65%;
    }
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    i {
      color: $color-grey;
      font-size: 3.5rem;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}
