.nav {
  font-size: 1.8rem;

  &__list {
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__item {
    font-weight: 500;

    &--contact {
      position: relative;
      margin-right: 2rem;
      padding: 1rem 2rem;
      cursor: pointer;

      @media (max-width: 900px) {
        margin-right: 0rem;
      }

      @media (max-width: 400px) {
        font-size: 1.6rem;
        padding: 1rem 0rem;
      }
    }

    i {
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: .3rem;
    }
  }

  &__cta {
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__contact-box {
    display: none; // this will change upon hovering over the 'contact' li

    position: absolute;
    right: 0;
    width: 30rem;
    background-color: $color-white;
    border-radius: 2rem;
    margin-top: 1rem;
    color: $color-grey;
    cursor: text;
    z-index: 99;
    animation: fadeIn .4s;
  }

  &__contact-email,
  &__contact-phone {

    h3 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__contact-email {
    padding: 2rem 2rem 1rem 2rem;
  }

  &__contact-phone {
    padding: 1rem 2rem 2rem 2rem;
  }
}